// Theme colors
// $dark: #0A0F26;
// $theme-color: #FCCF14;
// $anchor-color : #1DA1F2;
// $button-color : #1C1C1C;
// $heading-font-color:#1C1C1C;
// $body-font-color: #676767;

// Theme font family
$body-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Urbanist', sans-serif;
// Theme other color
$clr-white:#fff;
$text-light:#999;
$text-gray:#676767;
$bg-light: #fcfcfc;
$border-color:#eee;
$btnhover-color: #000;
$border-colorv2:#dddddd;
$secondary-color: #353648;
// Color opacity
$theme-color_20_dark: mix(black, $theme-color, 20%);
$theme-color_40_dark: mix(black, $theme-color, 40%);
$theme-color_60_dark: mix(black, $theme-color, 60%);
$theme-color_80_dark: mix(black, $theme-color, 80%);
$theme-color_80_light: mix(white, $theme-color, 80%);
$theme-color_60_light: mix(white, $theme-color, 60%);
$theme-color_40_light: mix(white, $theme-color, 40%);
$theme-color_20_light: mix(white, $theme-color, 20%);

$primary_color_02_base: $theme-color;
$primary_color_02_base_20_dark: mix(black, $primary_color_02_base, 20%);
$primary_color_02_base_40_dark: mix(black, $primary_color_02_base, 40%);
$primary_color_02_base_60_dark: mix(black, $primary_color_02_base, 60%);
$primary_color_02_base_80_dark: mix(black, $primary_color_02_base, 80%);
$primary_color_02_base_80_light: mix(white, $primary_color_02_base, 80%);
$primary_color_02_base_60_light: mix(white, $primary_color_02_base, 60%);
$primary_color_02_base_40_light: mix(white, $primary_color_02_base, 40%);
$primary_color_02_base_20_light: mix(white, $primary_color_02_base, 20%);

/** --- Solid color variables --- **/
$red: #EF4444;
$orange: #F97316;
$lighter: #DDDDDD;
$lightest: #F7F7F7;
$dark-aqua: #06B6D4;
$lightest_2: #eeeeee;
$dark-black: #000000;
$pale-yellow: #EAB308;
$decent-grey: #64748B;
$bright-green: #22C55E;
$dull-magenta: #D946EF;
$blazing-purple: #6366F1;
// $charcoal_black: #1C1C1C;
/** --- opacity color variables --- **/
$opacity_20: 0.2;
$opacity_40: 0.4;
$opacity_60: 0.6;
$opacity_80: 0.8;
$black_opacity_20: rgba(0, 0, 0, 0.2);
$black_opacity_40: rgba(0, 0, 0, 0.4);
$black_opacity_60: rgba(0, 0, 0, 0.6);
$black_opacity_80: rgba(0, 0, 0, 0.8);
// Box shadow
$drop_shadows_lightest: 0px 1px 3px rgba(0, 0, 0, 0.08);
$drop_shadows_light: 0px 5px 6px rgba(0, 0, 0, 0.04), 0px 3px 16px rgba(0, 0, 0, 0.04);
$drop_shadows_dark: 0px 2px 8px rgba(0, 0, 0, 0.06), 0px 16px 24px rgba(0, 0, 0, 0.08);
$drop_shadows_medium: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
$drop_shadows_darkest: 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 20px 32px rgba(0, 0, 0, 0.12);
/** --- radius variables --- **/
$radius: 4px;
$radiusvtwo: 4px;
