.tb-btn,
.tb-btnvtwo{
    position: relative;
    @extend %flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    font: 600 15px $heading-font-family;
    color: #fff;
    padding: 0 20px;
    min-width: 160px;
    background-color: $theme-color-dark;
    border:0;
    overflow: hidden;
    z-index: 0;
    @extend %transition;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $heading-font-color;
        opacity: 0;
        z-index: -1;
        @extend %transition;
    }
    &:hover,
    &:focus{
        outline: none;
        color: #fff;
        background-color:  #3377FF;
    } 
    &:hover{
        &:before{opacity: 0.1;}
    }
}
.rippleholder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
    &.is-active .ripplecircle{ animation: a-ripple .4s ease-in;}
}
.ripplecircle{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
}
.tb-btnvtwo{
    color: $heading-font-color;
    background-color:$secondary-color;
    &:hover,
    &:focus{
        color: $heading-font-color;
    }
}
.tb-btnsmall{
    min-width: 50px;
    height: 50px;
    font-size: 18px;
}

