.tb-draft{
    li{
        list-style: none;
        ~ li{padding-top: 10px;}
    }
    &__content{
        @extend  %flex;
        justify-content: space-between;
        background-color: #fcfcfc;
        padding: 10px 20px;
        @extend %border;
        border-radius: $radius;
    }
    &__right{
        @extend %flex;
        > a{
            font-size: 16px;
            margin-left: 17px;
        }
    }
}
.tb-tabledraft{
    i{
        color: #cccccc;
        font-size: 12px;
    }
    em{
        color: #999;
        padding-left: 5px;
    }
}
.tb-publish{
    i{
        color: #00cc8d;
        font-size: 10px;
    }
    em{padding-left: 5px;}
}
[class^="te-tablechild"]{
    .tb-checkbox{
        display: flex;
        align-items: center;
        &:before{
            content: "\e6be";
            font-family: themify;
            font-size: 16px;
            color: #dddddd;
            padding-right: 20px;
        }
    }
}
.tb-tablechild2{
    td{
        &:first-child{padding-left: 62px;}
    }
}
.tb-dhbtabs {
    @extend %border;
    border-radius: $radius;
    -webkit-box-shadow: 0 4px 10px 0 rgb(0 0 0 / 4%);
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 4%);
    .tb-disputetable{box-shadow: none;}
}
.tb-navtabs {
    border: 0;
    li {
        list-style: none;
        width: calc(100% / 3);
        &:first-child {
            .nav-link {
                border-left: 0;
                border-radius: $radius 0 0 0;
            }
        }
        &:last-child {
            .nav-link {
                border-radius: 0 $radius 0 0;
            }
        }
    }
    .nav-link {
        font: 700 rem(13) $heading-font-family;
        color: $text-light;
        border-top: 0;
        border-right: 0;
        padding: 15px;
        text-align: center;
        border-radius: 0;
        background-color: #fcfcfc;
        @extend %border-left;
        @extend %border-bottom;
        &:hover {
            border-color: $border-color;
        }
        &.active {
            border-color: $border-color;
            border-bottom: 0;
            color: $heading-font-color;
        }
    }
}
.tb-dbuserabs{
    .tb-navtabs{
        li{
            width: calc(100% / 5);
        }
    }
}
.tb-statusactive{
    color: $anchor-color !important;
}
.tb-tabledisbale{
    i{
        display: inline-block;
        color: #fddb5b;
        font-size: rem(12);
        vertical-align: initial;

    }
    em{
        display: inline-block;
        font-size: rem(14);
        color: #999;
        line-height: 22px;
        padding:0  5px;

        i{
            font-size: rem(12);
            color: #cccccc;
            display: inline-block;
            margin: 0 0 0 7px;
            vertical-align: baseline;
        }
    }
}
.tb-admin{background: #f2fcf9 !important;}
.tb-titleinput{
    em{
        font: 400 rem(13)/em(13,13) $body-font-family;
        color: $text-light;
        font-style: italic;
    }
}
.select2-results{
    .mCS_no_scrollbar{
        .mCSB_inside>.mCSB_container {margin-right: 0;}
    }
    .mCSB_scrollTools{right: -6px;}
    .mCSB_inside>.mCSB_container {margin-right: 15px;}    
}