// Popup Style 
.tb-joinpopup,
.tb-loginpopup{
	.modal-dialog{
		max-width: 600px;
	}
	.modal-body{
		padding:30px;
	}
}
.modal-dialog{
	max-width: 600px;
}
.modal .modal-body{
	padding:20px;
}
.tb-popuptitle{
	display: flex;
	align-items: center;
	padding: 20px;
	background: #F7F7F7;
	& h4{
		margin: 0;
		font-size: rem(18);
		line-height: em(26px,18px);
	}
	.close{
		margin-left: auto;
		font-size: 20px;
		text-shadow: none;
		opacity: 1 !important;
		@extend %transition;
		&:hover{color: $body-font-color;}
		& i{
			display: block;
			color: #0A0F26;
			font-size: 24px;
			@extend %transition;
		}
	}
}
.modal .modal-content{
	border: 0;
	border-radius:0;
}
// Login Popup Style
.tb-formlogin{
	.tb-btn{margin-left: auto;}
	.form-group{margin: 0;}
	.tb-form-btn{margin:10px 0 0; }
}
.tb-optionsbar {
    float: left;
    width: 100%;
    margin: 25px 0 28px;
    text-align: center;
    font: 700 rem(14px)/em(14,14) $heading-font-family;
    position: relative;
    	& em {
		z-index: 9;
		color: #999;
		display: block;
		margin: 0 auto;
		max-width: 50px;
		background: #fff;
		font-style: normal;
		position: relative;
	}
	&:after {
	    left: 0;
	    top: 50%;
	    width: 100%;
	    content: '';
	    height: 1px;
	    background: #eee;
	    position: absolute;
	}
}
.tb-loginicon {
    width: 100%;
    @extend %flex;
	align-items: center;
	.tb-titleinput{min-width: 180px;}
    & ul {
		flex: auto;
        width: auto;
        margin: 0 -5px;
        list-style: none;
        overflow: hidden;
        @extend %flex;
        li {
            width: 50%;
            padding: 0 5px;
            list-style-type: none;
        }
    }
    & a {
        color: #fff;
        display: block;
        border-radius: 4px;
    	padding: 0 20px 0 0;
        font: 600 rem(14px)/em(40,14) $heading-font-family;
        & span {
            min-width: 40px;
            line-height: 40px;
            text-align: center;
            margin-right: 15px;
            display: inline-block;
            background: rgba(0,0,0,0.2);
        }
    }
}
.tb-facebookbox {
    background: #3b5999;
}
.tb-googlebox {
    background: #dd4b39;
}
.tb-loginfooterinfo{
	width: 100%;
    border: 0;
    background: #fcfcfc;
    border-radius: 0 0 4px 4px;
    padding: 0;
    border-top:1px solid #eee;
    & a{
		width: 50%;
		display: inline-block;
		margin: 0 !important;
		padding: 10px 20px;
		text-align: center;
		line-height: 30px;
		& + a{border-left: 1px solid #eee;}
		& em{
			font-style:normal;
			color: #999;
		}
    }
}
.tb-eyeicon{
	position:relative;
	& input{padding-right: 50px;}
	& > a {
	    right: 25px;
	    color: #999;
	    position: absolute;
	    & i {
	    	position: relative;
	    	&:after {
			    content: "";
			    position: absolute;
			    background-color: #999;
			    border-right: 1px solid #fff;
			    right: 7px;
			    bottom: 0;
			    width: 2px;
			    height: 100%;
			    transform: rotate(45deg);
			}
	    }
	    &.tb-showpassword{
	    	i:after{display: none;}
	    }
	}
}
.tb-titleinput{
	flex: 0 0 140px;
	margin-bottom: 0;
	color: $heading-font-color;
	font: 400 rem(14px)/em(18,14) $body-font-family;
}
.tb-joinpopup .tb-loginfooterinfo a{
	width: 100%;
}