/** ====== Social icon ====== **/
.tb-socialmedia{
    @extend %flex;
    font-size: 13px;
    justify-content: center;
    li{
        &:nth-last-child(n+2){margin-right: 10px;} 
    }
    a{
        display: inline-block;
        @extend %transition;
    }
}
.tb-facebook > i,
.tb-facebook > a {color: #3b5999 !important}
.tb-facebook-messenger > a,
.tb-facebook-messenger > i {color: #0084ff !important}
.tb-twitter> a,
.tb-twitter > i {color: #55acee !important}
.tb-linkedin> a,
.tb-linkedin > i {color: #0077b5 !important}
.tb-skype> a,
.tb-skype > i {color: #00aff0 !important}
.tb-dropbox> a,
.tb-dropbox > i {color: #007ee5 !important}
.tb-vimeo> a,
.tb-vimeo > i {color: #1ab7ea !important}
.tb-tumblr > i,
.tb-tumblr> a {color: #34465d !important}
.tb-yahoo> a,
.tb-yahoo >i {color: #410093 !important}
.tb-googleplus> a,
.tb-googleplus > i,
.tb-google> a,
.tb-google > i{color: #dd4b39 !important}
.tb-pinterestp> a,
.tb-pinterestp > i {color: #bd081c !important}
.tb-youtube> a,
.tb-youtube > i {color: #cd201f !important}
.tb-stumbleupon> a,
.tb-stumbleupon > i {color: #eb4924 !important}
.tb-reddit> a,
.tb-reddit > i {color: #ff5700 !important}
.tb-quora> a,
.tb-quora > i {color: #b92b27 !important}
.tb-yelp> a,
.tb-yelp > i {color: #af0606 !important}
.tb-soundcloud> a,
.tb-soundcloud > i {color: #f30 !important}
.tb-whatsapp> a,
.tb-whatsapp > i {color: #25d366 !important}
.tb-wechat> a,
.tb-wechat > i {color: #09b83e !important}
.tb-instagram> a,
.tb-instagram > i {color: #e4405f !important}
.tb-dribbble> a,
.tb-dribbble > i {color: #ea4c89 !important}
.tb-flickr> a,
.tb-flickr > i {color: #ff0084 !important}
.tb-rss> a,
.tb-rss > i {color: #f60 !important}
.tb-behance> a,
.tb-behance > i {color: #131418 !important}
.tb-foursquare> a,
.tb-foursquare > i {color: #f94877 !important}

.tb-facebook-hover > i:hover,
.tb-facebook-hover > a:hover {color: #3b5999}
.tb-facebook-messenger-hover > a:hover,
.tb-facebook-messenger-hover > i:hover {color: #0084ff}
.tb-twitter-hover > a:hover,
.tb-twitter-hover > i:hover {color: #55acee}
.tb-linkedin-hover > a:hover,
.tb-linkedin-hover > i:hover {color: #0077b5}
.tb-skype-hover > a:hover,
.tb-skype-hover > i:hover {color: #00aff0}
.tb-dropbox-hover > a:hover,
.tb-dropbox-hover > i:hover {color: #007ee5}
.tb-vimeo-hover > a:hover,
.tb-vimeo-hover > i:hover {color: #1ab7ea}
.tb-tumblr-hover > i:hover,
.tb-tumblr-hover > a:hover {color: #34465d}
.tb-yahoo-hover > a:hover,
.tb-yahoo-hover > i:hover {color: #410093}
.tb-googleplus-hover > a:hover,
.tb-googleplus-hover > i:hover,
.tb-google-hover > a:hover,
.tb-google-hover > i:hover{color: #dd4b39}
.tb-pinterestp-hover > a:hover,
.tb-pinterestp-hover > i:hover {color: #bd081c}
.tb-youtube-hover > a:hover,
.tb-youtube-hover > i:hover {color: #cd201f}
.tb-stumbleupon-hover > a:hover,
.tb-stumbleupon-hover > i:hover {color: #eb4924}
.tb-reddit-hover > a:hover,
.tb-reddit-hover > i:hover {color: #ff5700}
.tb-quora-hover > a:hover,
.tb-quora-hover > i:hover {color: #b92b27}
.tb-yelp-hover > a:hover,
.tb-yelp-hover > i:hover {color: #af0606}
.tb-soundcloud-hover > a:hover,
.tb-soundcloud-hover > i:hover {color: #f30}
.tb-whatsapp-hover > a:hover,
.tb-whatsapp-hover > i:hover {color: #25d366}
.tb-wechat-hover > a:hover,
.tb-wechat-hover > i:hover {color: #09b83e}
.tb-instagram-hover > a:hover,
.tb-instagram-hover > i:hover {color: #e4405f}
.tb-dribbble-hover > a:hover,
.tb-dribbble-hover > i:hover {color: #ea4c89}
.tb-flickr-hover > a:hover,
.tb-flickr-hover > i:hover {color: #ff0084}
.tb-rss-hover > a:hover,
.tb-rss-hover > i:hover {color: #f60}
.tb-behance-hover > a:hover,
.tb-behance-hover > i:hover {color: #131418}
.tb-foursquare-hover > a:hover,
.tb-foursquare-hover > i:hover {color: #f94877}