/** ====== Index V2 components ====== **/
.tk-banner {
    &_content {
        padding: 109px 0;
        background: $theme-color_20_dark linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        position: relative;
        z-index: 1;
        &::after {
            content: "";
            background: url(../images/banner.png) no-repeat;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 562px;
            z-index: -1;
        }
    }
    .row {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &_title {
        @extend %flex;
        align-items: center;
        flex-direction: column;
        h1 {
            margin: 0;
            color: $clr-white;
            max-width: 600px;
            span {
                position: relative;
                z-index: 0;
                display: inline-block;
                &::before {
                    content: "";
                    position: absolute;
                    background: url(../images/vector.png) no-repeat;
                    width: 236px;
                    height: 66px;
                    background-size: contain;
                    z-index: -1;
                    left: -10px;
                }
            }
            + p {
                margin: 20px 0 0;
            }
        }
        p {
            @extend %p18;
            color: $clr-white;
        }
        .tk-inputappend {
            margin-top: 30px;
        }
    }
    &_img {
        position: relative;
        display: flex;
        margin: 0;
        figcaption {
            align-self: flex-end;
            padding: 10px 0 10px 24px;
            margin: 0 0 30px 26px;
            border-left: 1px solid rgba($color: $heading-font-color, $alpha: 0.2);
            span {
                display: block;
            }
            > span {
                @extend %h5;
            }
            > em {
                @extend %p14;
                display: block;
                font-style: normal;
                color: $decent-grey;
            }
        }
    }
    &_star {
        display: flex;
        align-items: center;
        i {
            font-size: 18px;
            color: $primary_color_02_base_20_light;
            padding-right: 7px;
        }
        span {
            @extend %label_title;
            color: $decent-grey;
        }
    }
    &_circle {
        position: absolute;
        bottom: -173px;
        left: -120px;
        z-index: -1;
        width: 747px;
        height: 746px;
        display: flex;
        align-items: center;
        justify-content: center;
        em {
            background: #ffffff;
            box-shadow: $drop_shadows_medium;
            border-radius: 50%;
            display: block;
            position: absolute;
            &:first-child {
                opacity: 0.2;
                width: 747px;
                height: 746px;
            }
            + em {
                width: 688px;
                height: 686px;
                opacity: 0.5;
                + em {
                    width: 629px;
                    height: 627px;
                }
            }
        }
    }
}
.tk-clients-wrapper {
    background: $lightest;
    .tk-sectionmid{
        padding-right: 12px;
        padding-left: 12px;
    }
}
.tk-clients {
    @extend %flex;
    justify-content: center;
    padding-left: 0;
    margin: -20px -40.7px;
    li {
        list-style: none;
        padding: 20px 40.7px;
        img {
            opacity: 0.2;
        }
    }
}
.tk-easyrightarea {
    display: flex;
    align-items: center;
    background-color: $lightest;
    figure {
        margin: 0;
        max-width: 822px;
        height: 688px;
        background: $dark;
        background-image: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.tk-rightareainfo {
    h3 {
        @extend %h1;
        color: $clr-white;
        margin-bottom: 20px;
    }
    h5 {
        @extend %p18;
        color: $clr-white;
        margin: 0;
    }
}
.tk-imgdescp {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
    @extend %flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    .tk-rightareainfo {
        @extend %flex;
        flex-direction: column;
        align-items: center;
        max-width: 410px;
        padding: 0 12px;
    }
}
.tk-playicon {
    border: 4px solid $clr-white;
    min-width: 110px;
    min-height: 110px;
    @extend %flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $clr-white;
    font-size: 37px;
    margin: 0 0 40px;
}
.tk-easyoperate {padding: 30px 100px;padding-left: 91px;}
.tk-iconcircle {
    flex: none;
    width: 70px;
    height: 70px;
    @extend %flex;
    color: $clr-white;
    font-size: 27px;
    border-radius: 50%;
    background: #3377FF;
    align-items: center;
    justify-content: center;
}
.tk-easyinfotitle {
    display: flex;
    i {
        margin: 0 30px 0 0;
    }
    + .tk-easyinfotitle {
        padding-top: 50px;
    }
}
.tk-easyitem {
    max-width: 536px;
    h4 {
        margin: 0 0 10px;
    }
    p {
        margin: 0;
    }
}
.tk-bgred {
    background: $red;
}
.tk-bgyellow {
    background: $pale-yellow;
}
.tk-feedbackwrap {
    @extend %flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    .tk-main-title-holder {
        max-width: 674px;
        padding-bottom: 0;
    }
    .tk-maintitle {
        max-width: 475px;
    }
}
.tk-feedbackitem {
    max-width: 526px;
    display: flex !important;
    padding: 30px 0;
    width: 100%;
    figure {
        max-width: 60px;
        height: 60px;
        margin: 0 20px 0 0 !important;
        flex: none;
        img {
            border-radius: 50%;
        }
    }
}
.tk-feedbackinfo {
    padding: 30px;
    max-width: 446px;
    border-radius: $radius;
    box-shadow: $drop_shadows_medium;
    border-left: 2px solid $theme-color;
    background-color: $clr-white;
    h4 {
        color: $heading-font-color;
        margin: 0;
    }
    h6 {
        margin: 0;
        a {
            display: block;
            color: $anchor-color;
            margin: 0;
            &:hover{color: $anchor-color;}
        }
    }
    p {
        margin: 20px 0 0;
    }
}
.tk-feedbackslider {
    overflow: hidden;
    margin: -30px 0 -30px 304px;
    position: relative;
    .slick-list {
        padding: 30px 0;
    }
}
.tk-sectionapp {padding: 0 12px;}
.tk-sectionapptitle {
    align-items: center;
    padding: 100px 0;
    .tk-maintitle {
        h2 {
            color: $clr-white;
            max-width: 486px;
        }
    }
    .tk-main-description {
        p {
            color: $clr-white;
        }
    }
}
.tk-appcompat {
    margin: 20px 0 0;
    i {
        display: inline-block;
        color: $theme-color;
        font-size: 19px;
        padding-right: 10px;
        vertical-align: middle;
        line-height: 24px;
    }
    h6 {
        margin: 0;
        color: $anchor-color;        
        span {
            color: $clr-white;
            @extend %p15;
        }
    }
}
.tk-appiamge {
    margin: 0;
    img {
        width: 100%;
        display: block;
        margin-top: -20px;
    }
}
.tk-footerlinks {
    > a {
        display: block;
        @extend %p15;
        color: $theme-color;
        margin: 12px 0 0;
    }
}
.tk-blogs-main {
    margin-top: -20px;
    margin-bottom: -20px;
    & > .tb-pagination,
    [class^="col-"] {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .tk-blogs-section {
        padding-bottom: 0;
        border: 0;
    }
}
.tk-featurelist {
    @extend %flex;
    margin: -5px;
    padding: 16px 0 0;
    width: 100%;
    li {
        list-style: none;
        padding: 5px;
        h5 {
            color: $clr-white;
        }
        a {
            color: $clr-white;
            @extend %transition;
            &:hover {
                color: $theme-color;
            }
        }
        &:not(:last-child) {
            a {
                &::after {
                    content: ",";
                    color: $clr-white;
                    @extend %transition;
                }
                &:hover {
                    &::after {
                        color: $primary_color_02_base_20_dark;
                    }
                }
            }
        }
    }
}
.elementor-section-wrap section.elementor-top-section.tk-indexbanner-section{
    padding:0;
}
.tk-banner_contenttwo {
    background: $dark;
    padding: 80px 12px;
    .tk-banner_title {
        .tk-inputappend {
            margin: 0;
            padding: 20px 20px 20px 26px;
        }
        h1 span::before {
            background-image: url(../images/vectorv2.png);
        }
        form{
            width: 100%;
            z-index: 9;;
            position: relative;
            margin: 46px 0 -124px;
        }
    }
    .tk-bannerinfo_search.tk-appendinput{
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0;
        background: transparent;
        .tk-inputappend > i{color: #999;}
    }
}

.tk-appendinput .tk-select {
    width: 258px;
    flex: none;
    .select2-selection{
        border: 0;
        box-shadow: none;
        &:hover{
            box-shadow: none;
        }
    }
}
.tk-navbardark {
    .nav-item {
        a {
            color: $clr-white;
            &:hover {
                color: $clr-white;
            }
            &:focus {
                color: $clr-white;
            }
        }
    }
}
.tk-sectionappdark,
.tk-navbardark,
.tk-mainfooterdark {
    background: $dark;
}
.tk-explore-link a{
    color: $anchor-color !important;
}
.tk-mainfooter .tk-sidetitle{
    padding-bottom: 26px;
}
.tk-navbardark{
    border: 0;
}
.tk-bglightest{
    background: $lightest;
}
.tk-feedbackslidervtwo{
    padding: 0 0 0 300px;
}
.tk-client-index{
    .tk-clients{padding-bottom: 0;}
}
.tk-indexfeedback{
    .tk-feedbacksection{
        padding-right: 0;
        padding-left: 0;
    }
}
.tk-inputappend{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: $radius;
    background-color: $clr-white;
    padding: 14px 14px 14px 20px;
    box-shadow: $drop_shadows_medium;
    > a,
    > i{
        color: #3377FF;
        font-size: 20px;
        display: inline-flex;
    }
    > .form-control{
        border: 0;
        width: auto;
        flex: auto;
        box-shadow: none;
        padding: 0 17px;
        &:hover,
        &:focus{
            box-shadow: none !important;
            border:none !important;
        }
    }
    &_right{
        margin-left: auto;
        display: flex;
        align-items: center;
    }
}

.tk-banner_contenttwo,
.tk-latest-posts{
    padding-left: 12px;
    padding-right: 12px;
}
.tb-tasklist{
    .tb-cards__title{padding-right: 20px;}
    .tb-desclinks li{
        a{
            &::before{content: none;}
        }
        &:not(:last-child){
            margin-right: 4px;
        }
    }
}
// new style
.tk-bannerv2{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    &_title{
        text-align: center;
        h1,h2{
            margin-bottom: 0;
        }
        h1{color: $clr-white;}
        h2{
            font-size: rem(67);
            line-height: em(82,67);
            font-family: 'Playfair Display', serif;
            color: $theme-color;
        }
    }
}

.tk-socialink{
    li{
        a{
            color: $heading-font-color;
            @extend %transition;
            &:hover{
                color: $anchor-color;
            }
        }
    }
}
.tk-mainlist-two{
    padding-top: 40px;
    .tk-btn-plain{
        border: 1px solid $clr-white;
        color: $clr-white !important; 
        &:hover{color: $clr-white !important;}
    }
}
.tk-explore-categories{
    @extend %flex;
    align-items: center;
    padding: 60px 0 0 0;
    margin: -5px;
    li{
        padding: 5px;
        list-style-type: none;
    }
}
.tk-explore-content{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: $drop_shadows_medium;
    width: 171px;
    padding: 27.5px 0;
    text-align: center;
    border-radius: 10px;
    z-index: 1;
    min-height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    figure{
        border-radius: 50%;
        margin-bottom: 10px !important;
        img{
            width: 52px;
            height: 52px;
            border-radius: 50%;
        }
    }
    h6,span,h5{
        color: $clr-white;
    }
    h6{
        margin-bottom: 0;
    }
    span{
        @extend %p14;
        display: block;
    }
}
.tk-exploremore-two{
    background-color: #6366F1;
    position: relative;
    &::before{
        content: '';
        background: url('./../images/sphape-1.png') no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        opacity: 0.8;
        z-index: -1;
        border-radius: 10px;
    }
    h5{
        margin-bottom: 20px;
    }   
    .tk-btn-solid-sm{
        font-size: 14px;
        font-weight: 500;
    }
}
.sc-services-slider{
    padding: 0 12px;
}
.tk-trendingserviceslider{
    &.tk-sliderarrow{
        .splide__arrow{top: 140px;}
    }
    &_content{
        figure{
            margin-bottom: 0;
            > img{
                border-radius: 10px;
                height: 281px;
                object-fit: cover;
                object-position: top;
                width: 100%;
            }
            figcaption{
                display: flex;
                justify-content: center;
                padding-top: 5px;
                margin: 0 -2.5px;
                img{
                    width: 25%;
                    padding: 0 2.5px;
                    min-height: 80px;
                    object-fit: cover;
                    &:first-child{border-radius: 10px 0 0 10px;}
                    &:last-child{border-radius: 0 10px 10px 0;}
                }
            }
        }
    }
    &_title{
        position: relative;
        margin-top: 22px;
        h5{
            margin-bottom: 0;
            display: flex;
            align-items: center;
            a{
                color: $anchor-color !important;
            }
            i{
                font-size: 18px;
                margin-left: 15px;
            }
        }
        h4{
            margin: 2px 0 0;
            color: $heading-font-color;
            a{
                &:hover{
                    color: $heading-font-color;
                }
            }
        }
        > span{
            @extend %tiny_title;
            display: flex;
            align-items: center;
            b{
                @extend %h4;
                padding-left: 10px;
            }
        }
        > a{
            width: 100%;
            margin-top: 20px;
        }
        .tk-like{
            top: 3px;
            a{
                display: flex;
                font-size: 20px;
                color: $lighter;
            }
        }
        .tk-featureRating__stars{
            width: 110px;
            letter-spacing: 5px;
            &::before,
            span::after{
                font-size: 16px;
            }
            &::before{color: #eee;}
            span{
                width: 92%;
            }
        }
        .tk-featureRating{
            display: flex;
            align-items: center;
            padding-top: 8px;
            h6{
                @extend %p14;
                display: inline-flex;
                padding-left: 10px;
                color: $heading-font-color;
                margin-bottom: 0;
            }
            > em{padding-left: 6px;}
            em{
                font-style: normal;
                color:$text-light;
            }
        }
        .tk-startingprice{
            display: flex;
            align-items: center;
            padding-top: 18px;
            i{
                @extend %tiny_title;
                color: $heading-font-color;
            }
            span{
                @extend %h4;
            }
        }
    }
}
.tk-green{color: $bright-green;}
.tk-bannerheight{
    &.tk-bannerv2{
        margin-top: -156px;
        padding-top: 150px;
    }
}
.tk-widgetbox{
    .menu{
        li{
            a{
                color: $heading-font-color;
                &:hover{
                    color: $anchor-color;
                }
            }
        }
    }
}
.post-categories li a:hover{
    color: $anchor-color;
}
.tk-appcompat-v2{
    i{
        color: #ffffff;
    }
    h6{
        font-weight: 500;
        color: #ffffff;
    }
}