/** ====== form Pricing ====== **/
.tb-pricingholder{
    .tb-sectioninfov2{
        .tb-sectiontitle h3{margin: -3px 0 7px;}
        .tb-description{padding-top: 11px;}
    }
}
.tb-sectiontitle{
    .tb-sectiontitle__bold{font-weight: 700;}
}
.tb-sectioncenter{
    .tb-onoffv2{
        display: flex;
        justify-content: center;
        padding-top: 23px;
    }
}
.tb-onoffv2{
    &.tb-onoff{
        label{
            margin: -20px;
            span{
                font-size: rem(16);
                font-weight: 600;
                color: #999;
                padding: 20px;
                @extend %transition;
            }
            .tb-disable{color: #999;}
            .tb-enable{
                display: block;
                color: $heading-font-color;
            }
            em{
                border-color: #26de81;
                background-color: #26de81;
            }
        }
        input:checked + label{
            .tb-enable{color: #999;}
            .tb-disable{
                display: block;
                color: $heading-font-color;
            }
        }
    }
}
.tb-pricing{
    > .row{
        margin-top: -15px;
        margin-bottom: -15px;
        [class^='col-']{
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 39px 29px;
        border: 1px solid #eee;
        @extend %transition;
        background-color: #fff;
        border-radius: $radius;
        &:hover{
            box-shadow: 0 6px 20px 0 rgba(#000,0.1);
            > .tb-btn{
                background-color: $theme-color;
                color: #fff;
            }
        }
        > img{
            margin-bottom: 16px;
        }
        h4{margin-bottom: 3px;}
        > h2{
            font-size: rem(36);
            line-height: em(42,36);
            margin: 0;
            sup{
                top: -0.4em;
                font-size: 55%;
            }
        }
        > em{
            color: #999;
            line-height: 1.3;
        }
        > .tb-btn{
            min-width: auto;
            width: 100%;
            margin-top: 23px;
        }
    }
    &list{
        margin: 0;
        width: 100%;
        padding-left: 0;
        list-style: none;
        padding-top: 18px;
        li{
            list-style-type: none;
            ~ li{
                border-top: 1px dashed #eee;
                padding-top: 10px;
                margin-top: 12px;
            }
        }
        &__content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                font-size: rem(15);
                line-height: em(25,15);
            }
            i{
                font-size: 12px;
            }
        }
    }
}
.tb-greenbg{background-color: #63d594 !important;}
.tb-green{color: #63d594 !important;}
.tb-grey{color: #b2b2b2 !important;}
.tb-btnv2{
    &.tb-btn{
        color: $heading-font-color;
        background-color: #f7f7f7;
    }
}