$theme-color: #0075d6;
$secondary-color: #fecd00;
$heading-font-family: 'Urbanist', sans-serif;;
$body-font-family: 'Open Sans', sans-serif;
$heading-font-color:#353648;
$btnhover-color: #000;
$body-font-color:#676767;
$border-color:#eee;
$radius: 4px;
$anchor-color:#55acee;
$clr-white:#fff;
$text-light:#999;
$bg-light: #fcfcfc;
$theme-color-dark: #295FCC;